.counter{
 
  height: 40vh;
  width: 40vw;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}
h3{
  font-size: 48px;
}
button{
 padding: 10px;
 background-color: blue;
 color: white;
 border-radius: 15px;
 margin: 20px;
 margin-bottom: 40px;
}

